{
    "env": {
      "mocha": true,
      "node": true
    },
    "extends": "standard",
    "parserOptions": {
      "ecmaVersion": 2017
    },
    "globals": {
      "assert": false,
      "artifacts": false,
      "contract": false
    }
  }
