{
  "env": {
    "mocha": true,
    "node": true
  },
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "web3": false,
    "assert": false,
    "artifacts": false,
    "contract": false
  }
}
